.TodoSearch {
    background: #e6e9e8;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    margin: 10px 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

.TodoSearch::placeholder {
    color: #A5A5A5;
    font-weight: 400;
}

.TodoSearch:focus {
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    border:2px solid #52b3ce;
}

.TodoSearch:disabled {
    opacity: 50%;
}